*{
    /*RESET*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*guia temporal para saber dónde comienzan y dónde terminan mis elementos*/
    /* border: 1px solid blue; */
    font-family: "Open Sans", sans-serif;
}

header{
/*Linear-gradient (dirección_grados, color1, color2)*/
    background-image: linear-gradient(45deg, #3dada4, #c71fe6);
    color: white;
}

.contenedor{
    max-width: 900px;
    /*arriba y abajo, costados*/
    /*auto = navegador tu elige*/
    margin: 0 auto;
    display: flex;
        /*flex-direction : row*/
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    /*remover viñetas*/
    list-style-type: none;
    align-items: center;
}

nav li{
    margin: 0 5px;

}

button{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    max-height: 40px;
}

.hero{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*al h1 h5 div dentro de la clase hero le añado un margin de 10px */
.hero h1, h5, div{
    margin: 10px;

}

.hero h1 {
    font-size: calc(16px + 2vw);
    text-align: center;
}

.hero img {
    max-width: 75vw;

}

button:hover {
    /* puntero esta encima */
    background-color: white;
    color: rgb(59, 59, 59);
}

/*tarjetas*/
.caracteristicas{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.tarjetas{
    display: flex;

}

.tarjeta{
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: */
    box-shadow: 0 0 10px gray;
}

.tarjeta * {
    margin: 5px 0;
}

.tarjeta img {
    width: 60px;

}

.tarjetas a{
    text-decoration: none;
}

.tarjeta:nth-of-type(2){
    background-image: linear-gradient(45deg, #3dada4, #c71fe6);
    color: white;
}
/* Menú */
#check{
    /* esconde solo visualmente, pero está en el dom */
    visibility: hidden;
    position: absolute;
    z-index: -99;
}

.show-menu-btn, 
.hide-menu-btn{
    cursor: pointer;
    font-size: 30px;
    display: none;
}

.menu{
    transition-duration: 0.5s ;
}


@media screen and (max-width: 768px) {
    .tarjetas {
        flex-direction: column;
    }
    .tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 572px) {
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #c71fe6;
        flex-direction: column;
        padding: 100px 0;
        right: -100%;
    }
    .menu li {
        padding: 20px 0 ;
        font-size: 24px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .hide-menu-btn, 
    .show-menu-btn{
        display: block;
    }

/* :checked Hace referencia si el check está activo */
/* ~ hará referencia a los elementos después de check en la estructura html */
    #check:checked ~ .menu{
        right: 0;
        
    }

        
}